Repository spinframework/spin, pull requests merged in 2022-05, with the labels that each got.

#441 Documentation fixes for quickstart, rust component guide
  docs/content/quickstart.md
  docs/content/rust-components.md
Labels: docs

#417 SIP: Trigger Executors
  docs/content/sips/xxx-trigger-executors.md
Labels: sip

#384 docs(sip): add `spin build` SIP
  docs/content/sips/001-spin-deploy.md
  docs/content/sips/002-app-config.md
  docs/content/sips/003-trigger-executors.md
  docs/content/sips/004-spin-build.md
  docs/content/sips/index.md
  docs/templates/content_sidebar.hbs
Labels: sip

#437 add with_wasmtime_engine() to Builder
  crates/engine/src/lib.rs
  crates/trigger/src/lib.rs
Labels: needs-review
