Repository spinframework/spin, pull requests merged in 2022-04, with the labels that each got.

#202 sip: Application Configuration
  docs/content/sips/002-app-config.md
  docs/content/sips/index.md
Labels: sip

#320 List all languages that we believe work on Spin
  docs/content/other-languages.md
Labels: documentation, docs

#329 fix(docs): remove the content_encoding config for docs
  docs/config/site.toml
Labels: docs

#331 chore(styles): update styleguide so logo stop spinning
  docs/package-lock.json
Labels: docs

#304 docs(*): add SIP for spin deploy
  docs/content/sips/001-spin-deploy.md
  docs/content/sips/index.md
Labels: sip
